<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tableau Dashboard</title>    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        
        <div class="jumbotron" style="text-align: center">
            <h1>ENDIREH 2021 Results</h1>
        </div>

        <div class="container text-center">
            <div class='tableauPlaceholder' id='viz1670283733985' style='position: relative' >
                <noscript>
                    <a href='#'>
                        <img alt='Obstetric Violence Analysis ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Fi&#47;FinalProjectObstetricViolence&#47;Story1&#47;1_rss.png' style='border: none' />
                    </a>
                </noscript>
                <object class='tableauViz'  style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                    <param name='embed_code_version' value='3' /> 
                    <param name='site_root' value='' />
                    <param name='name' value='FinalProjectObstetricViolence&#47;Story1' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Fi&#47;FinalProjectObstetricViolence&#47;Story1&#47;1.png' /> 
                    <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' /><param name='display_count' value='yes' />
                    <param name='language' value='en-US' />
                    <param name='filter' value='publish=yes' />
                </object>
            </div>                
            <script type='text/javascript'>                    
                var divElement = document.getElementById('viz1670283733985');                    
                var vizElement = divElement.getElementsByTagName('object')[0];                    
                vizElement.style.width='1016px';vizElement.style.height='991px';                    
                var scriptElement = document.createElement('script');                    
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                vizElement.parentNode.insertBefore(scriptElement, vizElement);                
            </script>
        </div>

        <div class="row">
            <p></p>
        </div>

        <div class="row">
            <div class="col">
                <p class="text-left"><a href="/">Return to index</a></p>
            </div>
            <div class="col">
                <p class="text-right"><a href="/send">Machine Learning Model</a></p>
            </div>
        </div>
    </div>
</body>

</html>