<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Entry Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <body>
        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1>ENDIREH Survey</h1>
                <p>Enter your answers according to the ENDIREH guide</p>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <form method="POST" action="/send" role="form", name="form">
                        <div class="form-group">
                            <label for="inputDOMINIO">DOMINIO</label>
                            <input type="text" class="form-control" id="inputDOMINIO" name="DOMINIO" placeholder="DOMINIO" value="U">
                            <p></p>
                            <ul>
                                <li><b>U</b> for urban</li>
                                <li><b>R</b> for rural</li>
                                <li><b>C</b> for urban-complement</li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="inputEDAD">EDAD</label>
                            <input type="text" class="form-control" id="inputEDAD" name="EDAD" placeholder="EDAD" value="30">
                            <p></p>
                            <ul>
                                <li><b>Input your age</b></li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="inputP3_8">P3_8</label>
                            <input type="text" class="form-control" id="inputP3_8" name="P3_8" placeholder="P3_8" value="A1">
                            <p></p>
                            <ul>
                                <li><b>A1</b> for married and living with partner</li>
                                <li><b>A2</b> for married with a temporarily absent partner</li>
                                <li><b>B1</b> for separated or divorced</li>
                                <li><b>B2</b> for widowed</li>
                                <li><b>C1</b> for single woman with a partner</li>
                                <li><b>C2</b> for has never had a partner</li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="inputP10_2">P10_2</label>
                            <input type="text" class="form-control" id="inputP10_2" name="P10_2" placeholder="P10_2, needs to be 1.0" value="1.0">
                            <p></p>
                            <ul>
                                <li><b>The value must be 1.0 for the machine learning model to make a prediction</b></li>
                                <li><b>1.0</b> if has had a pregnancy in the last five years</li>
                                <li><b>2.0</b> if has not had a pregnancy in the last five years</li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="inputP10_7">P10_7</label>
                            <input type="text" class="form-control" id="inputP10_7" name="P10_7" placeholder="P10_7" value="5.0">
                            <p></p>
                            <ul>
                                <li><b>1.0</b> if the childbirth took place in Centro de Salud</li>
                                <li><b>2.0</b> if the childbirth took place in IMSS hospital or clinic</li>
                                <li><b>3.0</b> if the childbirth took place in ISSSTE hospital or clinic</li>
                                <li><b>4.0</b> if the childbirth took place in state's ISSSTE hospital or clinic</li>
                                <li><b>5.0</b> if the childbirth took place in another public hospital or clinic</li>
                                <li><b>6.0</b> if the childbirth took place in a private hospital or clinic</li>
                                <li><b>7.0</b> if the childbirth took place in a particular doctor's health clinic</li>
                                <li><b>8.0</b> if the childbirth took place with a midwife</li>
                                <li><b>9.0</b> if the childbirth took place without medical assitance</li>
                                <li><b>10.0</b> if the childbirth took place in a different place</li>
                            </ul>                            
                        <div class="form-group">
                            <label for="Target_Question">Target Question</label>
                            <input type="text" class="form-control" id="inputTarget" name="Target_Question" placeholder="Type a question from P10_8_1 to P10_8_11">
                            <p></p>
                            <ul>
                                <li><b>Choose the target question that you'd like to be predicted with the previous inputs</b></li>
                                <li><b>P10_8_1</b> corresponds to being forced to unnecesarily remain in an uncomfortable position</li>
                                <li><b>P10_8_2</b> corresponds to being shouted at or scolded</li>
                                <li><b>P10_8_3</b> corresponds to being pinched or pulled</li>
                                <li><b>P10_8_4</b> corresponds to being told offensive, humiliating or demeaning words</li>
                                <li><b>P10_8_5</b> corresponds to being ignored when asking about the childbirth</li>
                                <li><b>P10_8_6</b> corresponds to being denied anesthesics</li>
                                <li><b>P10_8_7</b> corresponds to being left unattended after complaining or shouting and being told so by the staff</li>
                                <li><b>P10_8_8</b> corresponds to being fitted with contraception method without consent</li>
                                <li><b>P10_8_9</b> corresponds to being pressured to undergo surgery to stop having children</li>
                                <li><b>P10_8_10</b> corresponds to being forced or threatened to sign papers</li>
                                <li><b>P10_8_11</b> corresponds to being kept from seeing, breastfeeding or holding the baby, for more than 5 hours</li>
                            </ul>
                        </div>                        
                        <input type="submit" value="submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="text-left"><a href="/">Return to index</a></p>
            </div>
            <div class="col">
                <p class="text-right"><a href="/dashboard">Tableau Dashboard</a></p>
            </div>
        </div>


    </body>

</html>
